<link rel='stylesheet' href='css/digitalArt.css'>
<body>
    <div id="title">
        Digital Art
    </div>
    <div id="title-subtext">
        "Insert deep quote about pieces and title here"
    </div>

    <div id="grid">

        <div class="row-3img-3across">
            <div id="img-container-1" class="row-3img-3across-image image" ng-click="clickToOpen('digitalArt',['digitalArt1.jpg'])">
                <div class="overlay black-text">digitalArt1</div>
            </div>
            <div id="img-container-2" class="row-3img-3across-image image" ng-click="clickToOpen('digitalArt',['digitalArt2-1.jpg','digitalArt2-2.jpg','digitalArt2-3.jpg','digitalArt2-4.jpg'])">
                <div class="overlay black-text">digitalArt2</div>
            </div>
            <div id="img-container-3" class="row-3img-3across-image image" ng-click="clickToOpen('digitalArt',['digitalArt3.jpg'])">
                <div class="overlay black-text">digitalArt3</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-4" class="row-3img-3across-image image" ng-click="clickToOpen('digitalArt',['digitalArt4.jpg'])">
                <div class="overlay black-text">digitalArt4</div>
            </div>
            <div id="img-container-5" class="row-3img-3across-image image" ng-click="clickToOpen('digitalArt',['digitalArt5.jpg'])">
                <div class="overlay black-text">digitalArt5</div>
            </div>
            <div id="img-container-6" class="row-3img-3across-image image" ng-click="clickToOpen('digitalArt',['digitalArt6.jpg'])">
                <div class="overlay black-text">digitalArt6&nbsp;</div>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="footer-logo" ng-click="goHome()"></div>
        <div class="footer-contact-container">
            <a target="_blank" href="mailto:rachel.k.tu@gmail.com"><div class="footer-email" ng-click="sendEmail()"></div></a>
            <a target="_blank" href="http://facebook.com/rachel2tu"><div class="footer-fb" ng-click="goToFacebook()"></div></a>
        </div>
    </div>
</body>