<link rel='stylesheet' href='css/installation.css'>
<body>
    <div id="title">
        Installation
    </div>
    <div id="title-subtext">
        "Insert deep quote about pieces and title here"
    </div>

    <div id="grid">

        <div class="row-3img-3across">
            <div id="img-container-1" class="row-3img-3across-image image" ng-click="clickToOpen('installation',['installation1-1.jpg','installation1-2.jpg'])">
                <div class="overlay black-text">installation1</div>
            </div>
            <div id="img-container-2" class="row-3img-3across-image image" ng-click="clickToOpen('installation',['installation2.jpg'])">
                <div class="overlay black-text">installation2</div>
            </div>
            <div id="img-container-3" class="row-3img-3across-image image" ng-click="clickToOpen('installation',['installation3.jpg'])">
                <div class="overlay black-text">installation3</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-4" class="row-3img-3across-image image" ng-click="clickToOpen('installation',['installation4.jpg'])">
                <div class="overlay black-text">installation4</div>
            </div>
            <div id="img-container-5" class="row-3img-3across-image image" ng-click="clickToOpen('installation',['installation5.jpg'])">
                <div class="overlay black-text">installation5</div>
            </div>
            <div id="img-container-6" class="row-3img-3across-image image" ng-click="clickToOpen('installation',['installation6-1.jpg','installation6-2.jpg'])">
                <div class="overlay black-text">installation6</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-7" class="row-3img-3across-image image" ng-click="clickToOpen('installation',['installation7-1.jpg','installation7-2.jpg','installation7-3.jpg'])">
                <div class="overlay black-text">installation7</div>
            </div>
            <div id="img-container-8" class="row-3img-3across-image image">
            </div>
            <div id="img-container-9" class="row-3img-3across-image image">
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="footer-logo" ng-click="goHome()"></div>
        <div class="footer-contact-container">
            <a target="_blank" href="mailto:rachel.k.tu@gmail.com"><div class="footer-email" ng-click="sendEmail()"></div></a>
            <a target="_blank" href="http://facebook.com/rachel2tu"><div class="footer-fb" ng-click="goToFacebook()"></div></a>
        </div>
    </div>
</body>