<link rel='stylesheet' href='css/mixedMedia.css'>
<body>
    <div id="title">
        Mixed Media
    </div>
    <div id="title-subtext">
        "Insert deep quote about pieces and title here"
    </div>

    <div id="grid">

        <div class="row-3img-3across">
            <div id="img-container-1" class="row-3img-3across-image image" ng-click="clickToOpen('mixedMedia',['mixedMedia1-1.jpg','mixedMedia1-2.jpg'])">
                <div class="overlay black-text">mixedMedia1</div>
            </div>
            <div id="img-container-2" class="row-3img-3across-image image" ng-click="clickToOpen('mixedMedia',['mixedMedia2.jpg'])">
                <div class="overlay black-text">mixedMedia2</div>
            </div>
            <div id="img-container-3" class="row-3img-3across-image image" ng-click="clickToOpen('mixedMedia',['mixedMedia3-1.jpg','mixedMedia3-2.jpg','mixedMedia3-3.jpg'])">
                <div class="overlay black-text">mixedMedia3</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-4" class="row-3img-3across-image image" ng-click="clickToOpen('mixedMedia',['mixedMedia4.jpg'])">
                <div class="overlay black-text">mixedMedia4</div>
            </div>
            <div id="img-container-5" class="row-3img-3across-image image" ng-click="clickToOpen('mixedMedia',['mixedMedia5-1.jpg','mixedMedia5-2.jpg'])">
                <div class="overlay black-text">mixedMedia5</div>
            </div>
            <div id="img-container-6" class="row-3img-3across-image image" ng-click="clickToOpen('mixedMedia',['mixedMedia6.jpg'])">
                <div class="overlay black-text">mixedMedia6</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-7" class="row-3img-3across-image image" ng-click="clickToOpen('mixedMedia',['mixedMedia7-1.jpg','mixedMedia7-2.jpg','mixedMedia7-3.jpg','mixedMedia7-4.jpg','mixedMedia7-5.jpg'])">
                <div class="overlay black-text">mixedMedia7</div>
            </div>
            <div id="img-container-8" class="row-3img-3across-image image" ng-click="clickToOpen('mixedMedia',['mixedMedia8.jpg'])">
                <div class="overlay black-text">mixedMedia8</div>
            </div>
            <div id="img-container-9" class="row-3img-3across-image image">
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="footer-logo" ng-click="goHome()"></div>
        <div class="footer-contact-container">
            <a target="_blank" href="mailto:rachel.k.tu@gmail.com"><div class="footer-email" ng-click="sendEmail()"></div></a>
            <a target="_blank" href="http://facebook.com/rachel2tu"><div class="footer-fb" ng-click="goToFacebook()"></div></a>
        </div>
    </div>
</body>