<link rel='stylesheet' href='css/observational.css'>

<body>
    <div id="title">
        Observational
    </div>
    <div id="title-subtext">
        "Insert deep quote about pieces and title here"
    </div>

    <div id="grid">
        <div class="row-3img-1big-2small">
            <div class="row-3img-1big-2small-left">
                <div id="observational1" class="row-3img-1big-2small-left-image image" ng-click="clickToOpen('observational1.png')">
                    <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 1</div>
                </div>
            </div>
            <div class="row-3img-1big-2small-right">
                <div class="row-3img-1big-2small-right-top">
                    <div id="observational2" class="row-3img-1big-2small-right-top-image image" ng-click="clickToOpen('observational2.png')">
                        <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 2</div>
                    </div>
                </div>
                <div class="row-3img-1big-2small-right-bottom">
                    <div id="observational3" class="row-3img-1big-2small-right-top-image image" ng-click="clickToOpen('observational3.png')">
                        <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 3</div>
                    </div>
                </div>            
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="observational4" class="row-3img-3across-image image" ng-click="clickToOpen('observational4.png')">
                <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 4</div>
            </div>
            <div id="observational5" class="row-3img-3across-image image" ng-click="clickToOpen('observational5.png')">
                <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 5</div>
            </div>
            <div id="observational6" class="row-3img-3across-image image" ng-click="clickToOpen('observational6.png')">
                <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 6</div>
            </div>
        </div>
        
    </div>

</body>