<link rel='stylesheet' href='css/studioArt.css'>
<body>
    <div id="title">
        Studio Art
    </div>
    <div id="title-subtext">
        "Insert deep quote about pieces and title here"
    </div>

    <div id="grid">

        <div class="row-3img-3across">
            <div id="img-container-1" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart1.jpg'])">
                <div class="overlay black-text">studioart1</div>
            </div>
            <div id="img-container-2" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart2.jpg'])">
                <div class="overlay black-text">studioart2</div>
            </div>
            <div id="img-container-3" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart3.jpg'])">
                <div class="overlay black-text">studioart3</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-4" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart4.jpg'])">
                <div class="overlay black-text">studioart4</div>
            </div>
            <div id="img-container-5" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart5.gif'])">
                <div class="overlay black-text">studioart5</div>
            </div>
            <div id="img-container-6" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart6.jpg'])">
                <div class="overlay black-text">studioart6</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-7" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart7.jpg'])">
                <div class="overlay black-text">studioart7</div>
            </div>
            <div id="img-container-8" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart8.jpg'])">
                <div class="overlay black-text">studioart8</div>
            </div>
            <div id="img-container-9" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart9.jpg'])">
                <div class="overlay black-text">studioart9</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-10" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart10.jpg'])">
                <div class="overlay black-text">studioart10</div>
            </div>
            <div id="img-container-11" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart11.jpg'])">
                <div class="overlay black-text">studioart11</div>
            </div>
            <div id="img-container-12" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart12.jpg'])">
                <div class="overlay black-text">studioart12</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-13" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart13.jpg'])">
                <div class="overlay black-text">studioart13</div>
            </div>
            <div id="img-container-14" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart14.jpg'])">
                <div class="overlay black-text">studioart14</div>
            </div>
            <div id="img-container-15" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart15.jpg'])">
                <div class="overlay black-text">studioart15</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-16" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart16.jpg'])">
                <div class="overlay black-text">studioart16</div>
            </div>
            <div id="img-container-17" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart17.jpg'])">
                <div class="overlay black-text">studioart17</div>
            </div>
            <div id="img-container-18" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart18.jpg'])">
                <div class="overlay black-text">studioart18</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-19" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart19.jpg'])">
                <div class="overlay black-text">studioart19</div>
            </div>
            <div id="img-container-20" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart20.jpg'])">
                <div class="overlay black-text">studioart20</div>
            </div>
            <div id="img-container-21" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart21.jpg'])">
                <div class="overlay black-text">studioart21</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-22" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart22.jpg'])">
                <div class="overlay black-text">studioart22</div>
            </div>
            <div id="img-container-23" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart23.jpg'])">
                <div class="overlay black-text">studioart23</div>
            </div>
            <div id="img-container-24" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart24.jpg'])">
                <div class="overlay black-text">studioart24</div>
            </div>
        </div>
        
        
        <div class="row-3img-3across">
            <div id="img-container-25" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart25.JPG'])">
                <div class="overlay black-text">studioart25</div>
            </div>
            <div id="img-container-26" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart26.jpg'])">
                <div class="overlay black-text">studioart26</div>
            </div>
            <div id="img-container-27" class="row-3img-3across-image image" ng-click="clickToOpen('studioart',['studioart27.jpg'])">
                <div class="overlay black-text">studioart27</div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="footer-logo" ng-click="goHome()"></div>
        <div class="footer-contact-container">
            <a target="_blank" href="mailto:rachel.k.tu@gmail.com"><div class="footer-email" ng-click="sendEmail()"></div></a>
            <a target="_blank" href="http://facebook.com/rachel2tu"><div class="footer-fb" ng-click="goToFacebook()"></div></a>
        </div>
    </div>
</body>