<link rel='stylesheet' href='css/threedimensional.css'>

<body>
    <div id="title">
        Three Dimensional
    </div>
    <div id="title-subtext">
        "Insert deep quote about pieces and title here"
    </div>

    <div id="grid">
        <div class="row-3img-1big-2small">
            <div class="row-3img-1big-2small-left">
                <div id="img-container-1" class="row-3img-1big-2small-left-image image" ng-click="clickToOpen('threedimensional',['threedimensional1-1.jpg','threedimensional1-2.jpg'])">
                    <div class="overlay">F E T U S</div>
                </div>
            </div>
            <div class="row-3img-1big-2small-right">
                <div class="row-3img-1big-2small-right-top">
                    <div id="img-container-2" class="row-3img-1big-2small-right-top-image image" ng-click="clickToOpen('threedimensional',['threedimensional2.jpg'])">
                        <div class="overlay">B R A N C H I N G&nbsp; O U T</div>
                    </div>
                </div>
                <div class="row-3img-1big-2small-right-bottom">
                    <div id="img-container-3" class="row-3img-1big-2small-right-top-image image" ng-click="clickToOpen('threedimensional',['threedimensional8-1.jpg', 'threedimensional8-2.jpg', 'threedimensional8-3.jpg'])">
                <div class="overlay white-text">L E O P A R D &nbsp; E N V E L O P E</div>
                    </div>
                </div>            
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="img-container-4" class="row-3img-3across-image image" ng-click="clickToOpen('threedimensional',['threedimensional4.jpg'])">
                <div class="overlay white-text">A N G L E S&nbsp; A N D&nbsp; L I G H T</div>
            </div>
            <div id="img-container-5" class="row-3img-3across-image image" ng-click="clickToOpen('threedimensional',['threedimensional5-1.jpg','threedimensional5-2.jpg'])">
                <div class="overlay">M A N&nbsp; V S.&nbsp; N A T U R E</div>
            </div>
            <div id="img-container-6" class="row-3img-3across-image image" ng-click="clickToOpen('threedimensional',['threedimensional6.jpg'])">
                <div class="overlay white-text">S K E W E R</div>
            </div>
        </div>

        <div class="row-3img-3across">
            <div class="row-3img-3across-image image">
            </div>
            <div id="img-container-7" class="row-3img-3across-image image" ng-click="clickToOpen('threedimensional',['threedimensional7-1.jpg','threedimensional7-2.jpg','threedimensional7-3.jpg','threedimensional7-4.jpg','threedimensional7-5.jpg'])">
                <div class="overlay white-text">W E A R A B L E&nbsp; F A S H I O N</div>
            </div>
            <div id="img-container-8" class="row-3img-3across-image image" ng-click="clickToOpen('threedimensional',['threedimensional3.jpg'])">
                        <div class="overlay white-text">TIC&nbsp; TAC&nbsp; TOE</div>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="footer-logo" ng-click="goHome()"></div>
        <div class="footer-contact-container">
            <a target="_blank" href="mailto:rachel.k.tu@gmail.com"><div class="footer-email" ng-click="sendEmail()"></div></a>
            <a target="_blank" href="http://facebook.com/rachel2tu"><div class="footer-fb" ng-click="goToFacebook()"></div></a>
        </div>
    </div>
</body>