<link rel='stylesheet' href='css/twodimensional.css'>

<body>
    <div id="title">
        Two Dimensional
    </div>
    <div id="title-subtext">
        "Insert deep quote about pieces and title here"
    </div>

    <div id="grid">
        <div class="row-3img-1big-2small">
            <div class="row-3img-1big-2small-left">
                <div id="twodimensional1" class="row-3img-1big-2small-left-image image" ng-click="clickToOpen('twodimensional',['twodimensional1.jpg'])">
                    <div class="overlay">M O S E S &nbsp; D O E</div>
                </div>
            </div>
            <div class="row-3img-1big-2small-right">
                <div class="row-3img-1big-2small-right-top">
                    <div id="twodimensional2" class="row-3img-1big-2small-right-top-image image" ng-click="clickToOpen('twodimensional',['twodimensional2.jpg'])">
                        <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 2</div>
                    </div>
                </div>
                <div class="row-3img-1big-2small-right-bottom">
                    <div id="twodimensional3" class="row-3img-1big-2small-right-top-image image" ng-click="clickToOpen('twodimensional',['twodimensional3.jpg'])">
                        <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 3</div>
                    </div>
                </div>            
            </div>
        </div>

        <div class="row-3img-3across">
            <div id="twodimensional4" class="row-3img-3across-image image" ng-click="clickToOpen('twodimensional',['twodimensional4-1.jpg','twodimensional4-2.jpg'])">
                <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 4</div>
            </div>
            <div id="twodimensional5" class="row-3img-3across-image image" ng-click="clickToOpen('twodimensional',['twodimensional5.jpg'])">
                <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 5</div>
            </div>
            <div id="twodimensional6" class="row-3img-3across-image image" ng-click="clickToOpen('twodimensional',['twodimensional6.jpg'])">
                <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 6</div>
            </div>
        </div>
 
        <div class="row-3img-3across">
            <div id="twodimensional7" class="row-3img-3across-image image" ng-click="clickToOpen('twodimensional',['twodimensional7.jpg'])">
                <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 7</div>
            </div>
            <div id="twodimensional8" class="row-3img-3across-image image" ng-click="clickToOpen('twodimensional',['twodimensional8.gif'])">
                <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 8</div>
            </div>
            <div id="twodimensional9" class="row-3img-3across-image image" ng-click="clickToOpen('twodimensional',['twodimensional9.jpg'])">
                <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 9</div>
            </div>
        </div>    
        <div class="row-3img-3across">
            <div class="row-3img-3across-image">
            </div>
            <div id="twodimensional10" class="row-3img-3across-image image" ng-click="clickToOpen('twodimensional',['twodimensional10.jpg'])">
                <div class="overlay">N A K E D &nbsp; W O M A N &nbsp; 8</div>
            </div>
            <div class="row-3img-3across-image">
            </div>
        </div>      
    </div>

    <div class="footer">
        <div class="footer-logo" ng-click="goHome()"></div>
        <div class="footer-contact-container">
            <a target="_blank" href="mailto:rachel.k.tu@gmail.com"><div class="footer-email" ng-click="sendEmail()"></div></a>
            <a target="_blank" href="http://facebook.com/rachel2tu"><div class="footer-fb" ng-click="goToFacebook()"></div></a>
        </div>
    </div>
</body>